<h1>
  <% if type == :new %>
      <%= "Make New Kitty" %>
      <% action_url = cats_url %>
  <% elsif type == :edit %>
      <%= "Edit your Kitty" %>
      <% action_url = cat_url(cat) %>
  <% end %>
</h1>


<form action="<%= action_url %>" method="post">
  <% if type == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label for="cat_name">Kitty Name</label>
  <input id="cat_name" type="text" name="cat[name]" value="<%= cat.name %>"/>
  <br><br>

  <label for="birthday">Kitty Birthday</label>
  <input id="birthday" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>"/>
  <br><br>

  <label for="age">Kitty Age</label>
  <input id="age" type="text" name="cat[age]" value="<%= cat.age %>"/>
  <br><br>

  <label for="color">Kitty Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>--Choose color--</option>
    <option value="Black">Black</option>
    <option value="White">White</option>
    <option value="Yellow">Yellow</option>
  </select>
  <br><br>

  <label for="sex">Kitty Sex</label>
  <input type="radio" name="cat[sex]" value="M"/> Male
  <input type="radio" name="cat[sex]" value="F"> Female
  <br><br>

  <label for="description">Kitty Description</label><br>
  <textarea id = "description" name="cat[description]" value="<%= cat.description %>"></textarea>
  <br>

  <input type="submit" value="<%= type == :edit ? 'Make Kitty Better' : 'Make Kitty' %>">
</form>

<br>
<%= link_to 'Take me home', cats_url %>
