<h1>  <%= @sub.title %> </h1>
<h2>  <%= @sub.description %> </h2>

<% @sub.posts.each do |post| %>
<p>  <%= link_to post.title, post_url(post) %> </p>
<% end %>

<%= link_to 'All Subs', subs_url %>
<%= link_to 'Make a New Post', new_post_url %>
<%= link_to 'Edit Post', edit_post_url(@sub) %>
