<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user.nil? %>
      <%= link_to 'Sign in', new_session_url %>
      <%= link_to 'Sign up', new_user_url %>
    <% else %>
      Welcome, <%= current_user.username %>
      <%= button_to 'Logout', session_url, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
